<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487091343554-osm3tubui8l5c9mmd7vo7as9buv6hmbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487091343554-osm3tubui8l5c9mmd7vo7as9buv6hmbi</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Ke11Boc9PoOtWPHnrX8smauPoxm1_Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>487091343554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeon.Firebase-RxSwift</string>
	<key>PROJECT_ID</key>
	<string>rxswift-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>rxswift-practice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487091343554:ios:545fc7064308083043ab5b</string>
</dict>
</plist>